<ion-tabs class="ion-no-border">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Búsqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
