<ion-content class="animate__animated animate__backInUp animate__faster">
  <ion-refresher color="light" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-label class="titulo">
    <h1 class="bg-danger px-5 py-1 label-style text-center">Tus Favoritos</h1>
  </ion-label>

  <img class="w-100" src="../../../assets/img/cinema.jpg" alt="" />

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngIf="moviesF.length > 0">
        <h6 class="text-center">Aquí están tus peliculas favoritas</h6>
      </ion-col>
      <ion-col  size="12" *ngFor="let item of moviesF">
        <ion-card (click)="showDetails(item)" style="background-color: rgb(20, 20, 20)">
          <img class="w-100" [src]="item?.backdrop_path | picture" alt="" />
          <ion-card-header>
            <ion-card-subtitle>{{item?.status}}</ion-card-subtitle>
            <ion-card-title>{{item?.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="row justify-content-center">
              <!-- <ion-buttons slot="start"> -->
                <ion-button color="dark" (click)="goToPage(item)" shape="round">
                  <ion-icon slot="icon-only" name="play-outline"></ion-icon>
                </ion-button>
  
                <ion-button color="" (click)="removeFavorite(item)" shape="round">
                  Remover
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              <!-- </ion-buttons> -->
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col  size="12" *ngIf="moviesF.length == 0">
        <div class="alert alert-warning" role="alert">
          No tienes favoritos agregados, actuliza o agrega una pelicula como favorita.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
