<ion-header
  class="ion-no-border d-block d-md-none d-lg-none d-xl-none"
  [translucent]="true"
>
  <ion-toolbar class="" color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="cog-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      <div class="row mt-2">
        <ion-img
          src="../../assets/img/logo.PNG"
          size="small"
          class="w-25"
        ></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>

  <div id="welcome" *ngIf="header" class="row bg-dark p-3 header-home animate__animated  animate__fadeIn">
    <h3 class="text-white">Hola Josue</h3>
    <p class="text-white">¿Qué te gustaría ver hoy?</p>
  </div>
</ion-header>

<ion-header class="ion-no-border d-none d-md-block" [translucent]="true">
  <ion-toolbar style="height: 50px" color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="cog-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      <div class="row mt-2 col-sm-3">
        <ion-img
          src="../../assets/img/logo.PNG"
          size="small"
          class="w-25"
        ></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>

  <!-- <div class="row bg-dark p-3 text-center">
    <ion-icon slot="start" style="color: white" name="happy-outline"></ion-icon>
    <h3 class="text-white">Hola Josue</h3>
    <p class="text-white">¿Qué te gustaría ver hoy?</p>
  </div> -->
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)"[fullscreen]="true" >
  <ion-row class="animate__animated animate__bounceInLeft">
    <ion-col size="12">
      <h2 class="p-3"><strong>Nuevos Trillers</strong></h2>
    </ion-col>
  </ion-row>

  <ion-slides [options]="sildeOptsPopular" class="animate__animated animate__bounceInLeft">
    <ng-container *ngFor="let item of trillers">
      <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"> -->
        <ion-slide>
          <ion-card>
            <ion-img class="w-100" [src]="item.gif"></ion-img>
            <ion-card-header>
              <p>{{item.name}}</p>
            </ion-card-header>
            <ion-card-content> </ion-card-content>
          </ion-card>
        </ion-slide>
      <!-- </div> -->
    </ng-container>
  </ion-slides>

  <ion-row class="animate__animated animate__bounceInRight">
    <ion-col size="12">
      <h2 class="p-3"><strong>Peliculas Nuevas</strong></h2>
    </ion-col>
  </ion-row>
  <app-slides class="animate__animated animate__bounceInRight" (showDetails)="showDetails($event)" [movies]="movies" [slideOpts]="slideOpts"></app-slides>

  <ion-row class="animate__animated animate__bounceInLeft">
    <ion-col size="12">
      <h2 class="p-3"><strong>Carteleras</strong></h2>
    </ion-col>
  </ion-row>

  <app-slideshow-poster class="animate__animated animate__bounceInLeft" (showDetails)="showDetails($event)"  [movies]="movies" [slideOpts]="slideOptsBillboard"></app-slideshow-poster>

  <ion-row class="animate__animated animate__bounceInRight">
    <ion-col size="12">
      <h2 class="p-3"><strong>Populares</strong></h2>
    </ion-col>
  </ion-row>

  <app-slideshow-pares class="animate__animated animate__bounceInRight" (showDetails)="showDetails($event)" (loadMoreOutput)="loadMorePares($event)" [movies]="popularMovies" [slideOpts]="sildeOptsPopular"></app-slideshow-pares>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
